{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title> 
        {% block title %}
        Portfolio
        {% endblock  %}
    </title>
    <link rel='stylesheet' href="{% static 'pages/css/style.css' %}">
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
    <header>
        <h1>Rukman's Portfolio</h1>
    </header>

    <nav>
        
        |<a href= "{% url 'home' %}">Home</a>|
        <a href= "{% url 'about' %}">About</a>|
        <a href= "{% url 'projects' %}">Projects</a>|
        <a href= "{% url 'contacts' %}">Contact</a>|
        <a href= "{% url 'skills' %}">Skills</a>|

        <!--Login, Register, Logout-->
        {% if user.is_authenticated %}
            <a href="{%url 'logout' %}">Logout </a>|
            <span> Welcome {{user.username}} </span>|
            <a href= "{%url 'dashboard'%}">Dashboard</a>|
            <a href="{%url 'edit_profile'%}">Edit Profile</a>|
        {%else%}
        <a href="{% url 'login' %}" >
        Login
        </a> |
        <a href="{%url 'register'%}">Register</a>

        {%endif%}
    </nav>
    <hr>

    <!--Flash messages-->
    {% if messages %}
        {%for message in messages %}
            <div class="messgae {{message.tags}}">
                {{message}}
            </div>
        {%endfor%}
    {%endif%}

    {% block content %}
    {%if messages%}
        {%for message in messages%}
            <div class="message{{message.tags}}">
                {{message}}
            </div>
        {%endfor%}
    {%endif%}    
    {% endblock %}
    <hr>

    <footer>
        © 2026 My Portfolio
    </footer>
</body>
</html>
