{% extends "pages/base.html"%}
{% load static %}

{% block title %}
Contact
{% endblock title %}


{% block content%}

<h2>Contact Me</h2>
<form method="POST">
    {% csrf_token %}
    <!--Name-->
    <p>
        {{form.name.label_tag}}
        {{form.name}}
        {{form.name.errors}}
    </p>
    
    <!--Email-->
    <p>
        {{form.email.label_tag}}
        {{form.email}}
        {{form.email.errors}}
    </p>

    <!--Message-->
    <p>
        {{form.message.label_tag}}
        {{form.message}}
        {{form.message.errors}}
    </p>

    <button type="submit">
        📩 Send Message
    </button>
</form>

{%endblock%}