{% extends "pages/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<h1>Dashboard</h1>

<nav>
    <a href="{%url 'password_change'%}">
        Change Password
    </a>
    <a href ="{%url 'logout'%}">Logout</a>
</nav>

<h3>
    Welcome {{ user.username }}
</h3>

<div class="dashboard-card">
    <h3>Total Projects</h3>
    <p>{{ project_count }}</p>
</div>

<div class="dashboard-card">
    <h3>Featured Projects</h3>
    <p>{{ featured_count }}</p>
</div>


{% if user.profile.image %}
    <img src="{{ user.profile.image.url }}" width="150">
{% endif %}

<p><strong>Bio:</strong> {{ user.profile.bio }}</p>

<p><strong>Location:</strong> {{ user.profile.location }}</p>

<p><strong>Website:</strong> {{ user.profile.website }}</p>

{% endblock %}