{% extends "pages/base.html"%}
{%load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <h1>👋 Welcome! {{name|upper}}</h1>
    <hr>
    <p> I'm {{name}} currently studying at {{college}}. I'm in {{semester}} semester right now.

    {% if student %} {# If student: True , this statement runs #}
    <p>I'm learning Django and building this portfolio website. I'm a {{profession}}</p>

    {% else %} {# If student: False , this statement runs and show the list of skills #}
    <p> I'm a professional Django Developer. I also have certain skills: <br></p>
    {% for skill in skills %}
    <li style='color: #555'>{{skill}}</li>
    {%endfor%}
    <p> I've total of {{skills|length}} skills for now.

    {% endif %}

    <img src="{% static 'pages/images/ai-generated-labrador-retriever-dog-picture.jpg' %}" alt="Profile pic" width='250'>

{% endblock %}