{% extends "pages/base.html" %}

{% block title %}
Projects
{% endblock title %}

{% block content %}

<div class="projects-container">
    <div class="projects-header">
        <h1>Projects</h1>
        {% if perms.pages.add_project %}
            <a href="{% url 'create_project' %}" class="add-project-btn">
                + Add Project
            </a>
        {% endif %}
    </div>

    <div class="projects-grid">
        {% for project in projects %}
            <div class="project">
                {% if project.image %}
                    <img src="{{ project.image.url }}" alt="{{ project.title }}">
                {% endif %}
                <h3>
                    <a href="{%url 'project_detail' project.pk%}">
                        {{ project.title }}
                    </a>
                </h3>
                <p>
                    {{ project.description }}
                </p>
                {% if project.github_link %}
                    <a
                        href="{{ project.github_link }}"
                        target="_blank"
                    >
                        GitHub Repository
                    </a>
                <br><br>
                <a href="{% url 'project_detail' project.pk %}" class='view'>
                    View Project
                </a>
                {% endif %}
                <p class="created-date">
                    Created at: {{ project.created_at }}
                </p>

                <div class="project-actions">
                <!--Only the project owner can make changes here-->
                    {% if perms.pages.change_project and project.owner == user %}
                            <a
                                href="{% url 'edit_project' project.pk %}"
                                class="edit-btn"
                            >
                                Edit Project
                            </a>
                    {%endif%}      
                    {%if perms.pages.delete_project and project.owner == user %}  
                <a href="{% url 'delete_project' project.pk %}"class="delete-btn">
                    Delete
                </a>
                        </div>
                {% endif %}
            </div>

        {% empty %}
            <p class="no-projects">
                No projects have been created yet.
            </p>
        {% endfor %}
    </div>
</div>
{% endblock %}